---
layout: 'frontpage'
title: 'Origins of Mind'
---


include ../../fragments/slide_mixins

html
  body()

    .hero-unit.fade-in
      h1 Origins of Mind (Milan):
        //
          span.l1 O
          span.l2 r
          span.l3 i
          span.l4 g
          span.l5 i
          span.l6 n
          span.l7 s
          span  of Mind:
      h2 Philosophical Issues in Cognitive Development
      p --- by s.butterfill@warwick.ac.uk
      p A course at Università degli Studi di Milano about how humans come to know about objects, causes, words, numbers, colours, actions and minds.
    
    .row
      //- main content: lecture outlines &c
      .span9
        #slides_and_handouts
          h2 Slides and Handouts
          p You can find slides and handout below, together with an outline of each lecture.
          p Please note that these may be continuously revised.

        //- now do a section for each lecture
        each lecture in getCollection("lectures").toJSON()
          div(id='#{lecture.basename}')
            h2 #{lecture.title}
            if lecture.lecture_date
              p Date given: #{moment(lecture.lecture_date).format('dddd Do MMMM YYYY')}
            // slides and handout links
            p
              ul
                li
                  a(href='#{lecture.url}',target='_blank') slides
                li
                  a(href='/handouts/#{lecture.basename}.handout.pdf',target='_blank') handout [pdf]
            // section headings (as links) plus descriptions &c
            div(style="padding-left:2em;")
              if lecture.units
                - each unit_num in lecture.units
                  - unit = get_unit(unit_num)
                  h3
                    a(href="#{unit.url}") #{unit.title}
                    span(style="font-size:50%;color:grey;")  (#{unit_num})
                  if unit.tags
                    p(style="text-align:right;margin:0;padding:0;margin-top:-1.5em;") 
                      each t in unit.tags
                        span.label.label-info #{t}
                        | 
                  p #{unit.description}
                  if unit.book && unit.book.length > 0 
                    p Reading:  §#{unit.book.join(', §')}
                  if unit.exercises && unit.exercises.length > 0 
                    p Exercises: #{unit.exercises.join(', ')}
                  if unit.exercises_fast && unit.exercises_fast.length > 0
                    p Fast exercises: #{unit.exercises_fast.join(', ')}
            
