---
layout: 'frontpage'
title: 'Origins of Mind'
---


include ../../fragments/slide_mixins

html
  body

    .hero-unit.fade-in
      h1 Origins of Mind (Milan):
        //
          span.l1 O
          span.l2 r
          span.l3 i
          span.l4 g
          span.l5 i
          span.l6 n
          span.l7 s
          span  of Mind:
      h2 Philosophical Issues in Cognitive Development
      p --- by s.butterfill@warwick.ac.uk
      p A course at Università degli Studi di Milano about how humans come to know about objects, causes, words, numbers, colours, actions and minds.
    
    .row
      //- main content: lecture outlines &c
      .span9
        #slides_and_handouts
          h2 Slides and Handouts
          p You can find slides and handout below, together with an outline of each lecture.
          p Please note that these may be revised.

        //- now do a section for each lecture
        each lecture in getCollection("lectures").toJSON()
          div(id='#{lecture.basename}')
            .page-header
              h2: a(href='#{lecture.url}',target='_blank') #{lecture.title}
              if lecture.lecture_date
                p Date given: #{moment(lecture.lecture_date).format('dddd Do MMMM YYYY')}
              p 
                a(href='#{lecture.url}',target='_blank') slides
                if !('handout' in lecture) || lecture.handout===true || lecture.handout==='true'
                  |  , 
                  a(href='/handouts/#{lecture.basename}.handout.pdf',target='_blank') handout [pdf]
              
              .units(style='border-left: 1px dotted grey;margin-left: -1px;')
                div(style="padding-left:2em;")
                  if lecture.units
                    - each unit_num in lecture.units
                      - unit = get_unit(unit_num)
                      h3
                        a(href="#{unit.url}") #{unit.title}
                        span(style="font-size:50%;color:grey;")  (#{unit_num})
                      if unit.tags && unit.tags.length && unit.tags.length > 0
                        p(style="text-align:right;margin:0;padding:0;margin-top:-2.5em;") 
                          each t in unit.tags
                            span.label.label-info #{t}
                            | 
                      p #{unit.description}
                      if unit.book && unit.book.length > 0 
                        p Reading:  §#{unit.book.join(', §')}
                      if unit.exercises && unit.exercises.length > 0 
                        p Exercises (regular): #{unit.exercises.join(', ')}
            
